services:
  minecraft:
    build:
      context: .
      dockerfile: ./${MC_VERSION}/Dockerfile
    image: minecraft-java:1.21.11
    container_name: ${CONTAINER_NAME:-minecraft-java}
    volumes:
      - ./minecraft/config:/data/config
      - ./minecraft/world:/data/world
      - ./minecraft/mods:/data/mods
      - ./minecraft/resourcepacks:/data/resourcepacks
      - ./minecraft/logs:/data/logs
    stdin_open: true
    tty: true
    ports:
      - "${MC_PORT:-25565}:25565"
      - "${RCON_PORT:-25575}:25575"
    environment:
      EULA: "${EULA:-FALSE}"
      SERVER_TYPE: "${SERVER_TYPE:-vanilla}"
      JVM_OPTS: "${JVM_OPTS:--Xms2G -Xmx4G}"
      RCON_ENABLED: "${RCON_ENABLED:-FALSE}"
      RCON_PASSWORD: "${RCON_PASSWORD:-}"
      RCON_PORT: "${RCON_PORT:-25575}"
    restart: ${RESTART_POLICY:-unless-stopped}